<div>
  <h2>Acoounts</h2>



              <!-- Display Accounts -->
        <div *ngIf="accounts.length > 0; else noAccounts">
          <h4>Accounts:</h4>
          <ul>
            <li *ngFor="let account of accounts">
              <strong>Type:</strong> {{ account.type }}<br />
              <strong>Balance:</strong> {{ account.balance }}
            </li>
          </ul>
        </div>

        <!-- No Accounts Placeholder -->
        <ng-template #noAccounts>
          <p>No accounts available for this customer.</p>
        </ng-template>





</div>
