<div>
  <h2>Customers</h2>

  <!-- Display All Customers -->
  <div *ngIf="customers.length > 0; else noCustomers">
    <ul>
      <li *ngFor="let customer of customers">
        <strong>First name:</strong> {{ customer.firstName }}<br />
        <strong>Last name:</strong> {{ customer.lastName }}<br />
        <strong>Email:</strong> {{ customer.email }}
      </li>
    </ul>
  </div>

  <!-- No Customers Placeholder -->
  <ng-template #noCustomers>
    <p>No customers available.</p>
  </ng-template>
</div>
